<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>connection</title>
    </head>
    <body>
    <form method="get"  action="/inscriptionfinal" >
<h1>IT Academy</h1>
<h2>Entrer votre pseudo</h2>
<input type="text" name="pseudo" id="pseudo"/>
<input type="submit" value="Enregistrer" name="Enregistrer" id="enregistrer" />

</form>
    
    </body>
</html>